<section>
  <div>
    <form method="post" action="/login">
      <h1>Login page</h1>
      <div>
        <input type="text" placeholder="Enter email" name="email" />
      </div>
      <div>
        <input type="password" placeholder="password" name="password" />
      </div>
      <div>
        <button onclick="submit">
          Login
        </button>
      </div>
    </form>
  </div>
  <a href="/register">Register</a>
</section>